@media only screen and (max-width: 500px) {
    .header-1 {
        height: 50vh;
    }

    .text {
        font-size: 14px;
        width: 50%;
    }

    .photos1 {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .list-photos1 {
        margin-bottom: 20px;
    }

    .menu {
        visibility: hidden;
    }

    .header .logo1 img {
        width: 75%;
        margin: 10px;
    }

    .photos2 {
        flex-direction: column;
    }

    .container-two {
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }

    .maps {
        text-align: center;
    }
    .menu2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
